.item{
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
  .img{
    width: 41px;
    height: 41px;
    object-fit: cover;
  }
  .head{
    display: flex;
    align-items: center;
  }
  .left{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 240px;
    margin-right: 24px;
    padding: 10px 15px;
  }
  .right{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 240px;
    padding: 15px;
  }
  .info{
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .content{
    display: flex;
    align-items: center;
    margin-top: 7px;
  }
  .text{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
  }
  .kol{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    margin-left: 12px;
  }
  .list{
    display: flex;
    margin: 0 14px;
  }
  .li{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
  }
  .active{
    color: #000000;
  }
  .li + .li{
    margin-left: 27px;
  }
  .arrow{
    cursor: pointer;
    background-color: transparent;
    border:none;
    outline: none;
  }
  .top{
    display: flex;
  }
  .red{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 20px;
    color: #F35A45;
    background-color: rgba(243, 90, 69, 0.1);
    border-radius: 4px;
    margin-right: 16px;
  }
  .green{
    color:#02B560;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid rgba(2, 181, 96, 0.1);
    background-color: #E6F8F0;
    box-shadow: 0px 6px 18px rgba(106, 91, 208, 0.14);
    border-radius: 4px;
    padding: 3px 15px;
    margin-right: 20px;
  }
  .yellow{
    background-color: rgba(255, 206, 115, 0.1);
    border-radius: 4px;
    color: #FFCE73;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 15px;
  }
  .flex{
    display: flex;
    align-items: center;
  }
}